<div class="row">
		<div class="welcome">
			<span class="logo">chatty</h1>
			<h4 id="welcome-msg">Welcome to chatty, a real-time chat application.</h4>
			<a id="join-room-btn" href="javascript:void(0);" class="btn btn-default">Join a Room</a>
			
			<div id="push"></div>
		</div>
</div>